<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <log4net configSource="log4net.config"/>
  <appSettings>
    <add key="DomainAssembly" value="JLT.BenefitCosts.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add
      name="NHibernate"
      connectionString="Data Source=.;Initial Catalog=JLTBenefitCosts;Integrated Security=true;Application Name=JLTAppServer"
      providerName="System.Data.SqlClient"/>
    <add
      name="AdoNetAppender"
      connectionString="Data Source=.;Initial Catalog=JLTFramework;Integrated Security=True;Application Name=JLTAppServer"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
