<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="LoggingAppender" type="log4net.Appender.ADONetAppender">
    <threshold value="WARN" />
    <bufferSize value="1" />
    <connectionstring value="" />
    <useTransactions value="false"/>
    <reconnectOnError value="true" />
    <commandText value="INSERT INTO [logging].[Log] ([Id],[Date],[Thread],[Level],[Logger],[ActivityId],[Message],[Context], [Identity], [extendedInfo]) VALUES 
         (@Id, @log_date, @thread, @log_level, @logger, @activityId, @message, @context, @identity, @extendedInfo)" />
    <parameter>
      <parameterName value="@Id" />
      <dbType value="Guid" />
      <size value="16" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="LogEntryId" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="AnsiString" />
      <size value="32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="AnsiString" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@context" />
      <dbType value="AnsiString" />
      <size value="512" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="MachineName" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="AnsiString" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@activityId" />
      <dbType value="Guid" />
      <size value="16" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="ActivityId" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="AnsiString" />
      <size value="6500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@identity" />
      <dbType value="AnsiString" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%u" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@extendedInfo" />
      <dbType value="AnsiString" />
      <size value="1200" />
      <layout type="log4net.Layout.RawPropertyLayout" >
        <key value="extendedInfo" />
      </layout>
    </parameter>
  </appender>

  <appender name="RollingFileAppender" type ="log4net.Appender.RollingFileAppender">
    <file value="${TMP}\JLTBenefitCosts_host_Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property(NDC)] - %message%newline" />
    </layout>
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="TraceAppender"/>
  </root>

  <logger name="JLT" additivity="false" >
    <level value="ERROR" />
    <appender-ref ref="EventLogAppender"/>
    <appender-ref ref="LoggingAppender"/>
  </logger>

  <logger name="NHibernate" additivity="false" >
    <level value="ERROR" />
    <appender-ref ref="RollingFileAppender"/>
  </logger>

</log4net>
